.cars{
    display: flex;
    flex-direction: column-reverse;
    background: cyan;
    width: 100%;
    flex-wrap: wrap;
}

.car{
    text-align: center;
    border: 2px solid darkblue;
    margin: 3px;
}